<!doctype html>
<head>
  <link rel='stylesheet' type='text/css' href='/blueprint/screen.css' />
  <link rel='stylesheet' type='text/css' href='nana_debs_styles.css' />
</head>

<body>
  <div class='container'>
    <header>
      <h1>Nana Deb's Aprons</h1>
    </header>
    <section>
      <p>Hand-made artisan aprons made from rescued fabric.</p>
      <p>Interested?
        <script type="text/javascript">
          document.write('<n uers="znvygb:ananqrofncebaf@tznvy.pbz">Pbagnpg Anan Qro.</n>'.replace(/[a-zA-Z]/g, 
            function(c){return String.fromCharCode((c<="Z"?90:122)>=(c=c.charCodeAt(0)+13)?c:c-26);}));
        </script>
        </p>
    </section>
    <footer>
      <p>Copyright Nana Deb's Aprons, 2011</p>
    </footer>
  </div>
</body>
</html>
